body {
	background-color: #ddd;
	background-image: 
		linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
		linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-size: 
		30px 30px;
	background-position: 
		0 0, 
		15px 15px;
}
